
body {
    font-family: 'Roboto', sans-serif;
}

/* Layout Grid Styles */


/*Header Styles */

#name{
    text-align: center;
}
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    margin-bottom: 3em;
}


/* Home Styles */

/* Home Grid */

.home-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    grid-template-areas: 
    "image image stats stats"
    "info info info info";
}

.image {
    grid-area: image;
    margin-right: 1em;
}

.stats {
    grid-area: stats;
}

.stats ul {
    list-style-type: none;
}

.info {
    grid-area: info;
}

#Home img {
    max-width: 100%;
    max-height: auto;
    margin-right: 1em;
    margin-top: 1em;
}

/* Media Grid */

.media-grid > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

#media-title {
    font-size: 3em;
    text-align: left;
}


.media-grid img{
    width: 50%;
    height: auto;
    margin-bottom: 1em;
}


/* Contact Tab Styles */

/* Contact Tab Grid */

#contact-info {
    width: 50%;
    float: left;
}

#contact-info p h3 {
    margin-right: 0;
}

#contact-info ul {
    list-style-type: none;
}

#contact-info li {
    margin-bottom: 10px;
}

#contact-info ul a {
    text-decoration: none;
    color: black;
}

#contact-info a:hover {
 color: #666;
}

#contact-image {
    width: 50%;
    float: right;
    margin-top: 10px;
}

#contact-image img {
    width: 80%;
    margin-bottom: 100px;
}


/* Resume Tab Styles */

#resume-col-1 {

    width: 50%;
    float: left;
    margin-bottom: 100px;
}

#resume-col-2 {
    
    width: 50%;
    float: right;
}

/* Footer Styles */

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(136, 125, 125);
    display: flex;
    align-items: center;
    justify-content: center;
    

}

footer nav li {
    list-style-type: none;
}

footer a {
    color: black;
}

footer a:hover {
    color: #666;
}

#social {
    margin: 0;
}

#social li {
   
    display: inline;
    padding-left: 1em;
}


/* Media Queries */

@media(max-width: 768px) {
    #Resume {
    }
    
    #resume-col-1 {
        float: none;
        margin-bottom: 0;
        width: 100%;
    }

    #resume-col-2 {
        float: none;
        width: 100%;
    }

    #Contact-container {
        display: flex;
        justify-content: center;
    }

    #contact-info {
        float: none;
        margin-bottom: 10px;
        text-align: center;
        width: 100%
    }

    #contact-info ul {
        padding: 0;
    }

    #contact-image {
        float: none;
        width: 100%;
    }

    #contact-image img {
        width: 100%;
    }
}

